name: Create Release and Publish to Live API Catalogue
run-name: Publish ${{ github.ref_name }} to Live by @${{ github.actor }} (${{ github.sha }} - ${{ github.event.head_commit.message }})
on:
  push:
    branches:
      - main

jobs:
  release_and_publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0  # Required for calculate_version.py script

    - name: Setup Python environment and dependencies
      run: |
        pipx install poetry
        poetry install

    - name: Calculate version
      run: echo "SPEC_VERSION=$(poetry run python scripts/calculate_version.py)" >> "$GITHUB_ENV"

    - name: Set OAS info.version to ${{ env.SPEC_VERSION }}
      run: sed -i 's/__VERSION__/${{ env.SPEC_VERSION }}/g' specification/digital-staff-passport-api-standard.yaml

    - name: Vacuum OpenAPI Spec linter
      uses: eduelias/gha-vacuum@v0.0.1
      with:
        cmd: vacuum lint -d specification/digital-staff-passport-api-standard.yaml

    - name: Create Release ${{ env.SPEC_VERSION }}
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.SPEC_VERSION }}

    - name: Setup proxygen-cli
      env:
        PROXYGEN_PRIVATE_KEY: ${{ secrets.ENCODED_PROXYGEN_PRIVATE_KEY }}
        PROXYGEN_KID: ${{ secrets.PROXYGEN_KID }}
        PROXYGEN_CLIENT_ID: ${{ secrets.PROXYGEN_CLIENT_ID }}
      run: |
        pipx install proxygen-cli

        # Setup proxygen auth and settings
        mkdir -p ${HOME}/.proxygen
        echo "$PROXYGEN_PRIVATE_KEY" | base64 --decode > ${HOME}/.proxygen/key
        envsubst < ./.github/proxygen-credentials-template.yaml > ${HOME}/.proxygen/credentials.yaml
        envsubst < ./.github/proxygen-settings.yaml > ${HOME}/.proxygen/settings.yaml
        proxygen status

    - name: Publish spec
      run: proxygen spec publish specification/digital-staff-passport-api-standard.yaml --no-confirm
